<configuration>
    <system.webServer>
        <handlers>
            <!-- Indicates that the app will be handled by the FastCGI module. -->
            <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python38\python.exe|D:\home\site\wwwroot\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <!-- This rule will redirect all incoming requests to wfastcgi.py. -->
                <rule name="Flask" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

    <appSettings>
        <!-- Flask app's entry point. -->
        <add key="WSGI_HANDLER" value="app.app" />
        <!-- The Python path. -->
        <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
        <!-- Turn on/off Flask debugging. -->
        <add key="FLASK_ENV" value="production" />
    </appSettings>
</configuration>
